{% extends '__base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ event }}</h1>
            <strong>Date/Time:</strong> {{ event.date }}
            {% if event.start_time %}
                from {{ event.get_start }} - {{ event.get_end }}<br>
            {% else %}
                TBD
            {% endif %}
            <strong>Location:</strong> {{ event.location }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Presentations</h2>
        </div>
    </div>
    {% for presentation in event.presentation_set.all %}
        <div class="row">
            <div class="col-lg-12">
                <h4>Title: {{ presentation.title }}</h4>
                {% for speaker in presentation.presenter_set.all %}
                    <p>
                        {% if speaker.website %}
                            <a href="{{ speaker.website }}">{{ speaker }}</a>,
                        {% else %}
                            {{ speaker }},
                        {% endif %}
                        {% if speaker.affiliation.university.website %}
                            <a href="{{ speaker.affiliation.university.website }}">{{ speaker.affiliation.university }}</a> --
                        {% else %}
                            {{ speaker.affiliation.university }} --
                        {% endif %}
                        {% if speaker.affiliation.website %}
                            <a href="{{ speaker.affiliation.website }}">{{ speaker.affiliation }}</a>
                        {% else %}
                            {{ speaker.affiliation }}
                        {% endif %}
                    </p>
                {% endfor %}
                <h4>Abstract:
                    {% if presentation.pdf_abstract %}
                        <a href="{{ presentation.pdf_abstract.url }}">PDF</a>
                    {% endif %}
                </h4>
                <p>
                    {% if presentation.abstract %}
                        {{ presentation.abstract }}
                    {% elif not presentation.pdf_abstract %}
                        No abstract provided.
                    {% endif %}
                </p>
                <hr>
            </div>
        </div>
    {% empty %}
        <p>No presentation details have been uploaded yet. Please check back.</p>
    {% endfor %}
{% endblock %}