{% extends '__base.html' %}

{% block title %}
    Overview | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Computational Science and Engineering Symposium 2019</h1>
            <p>
                The Centre for Computational Science and Engineering (CCSE) is pleased to invite you the 1st
                Computational Science and Engineering Symposium. The symposium will be held at the University of Toronto
                Institute for Aerospace Studies (<a href="https://goo.gl/maps/LvNn2bFR1b42">4925 Dufferin St, Toronto, ON</a>)
                from May 21—22, 2019. This two-day event provides exciting opportunities to network with experts, stay
                on top of the latest technological advances, and identify potential alliances and partnering
                opportunities with international scientists! <a href="https://docs.google.com/forms/d/e/1FAIpQLScx93bGMxWD3wLzDI3TboSOoN78GNOF1jloc9MBU6RaXgRRcw/viewform">
                Registration is required for this event</a>
            </p>
            <h2 class="section-header">Registration</h2>
            <p>
                Please <a href="https://docs.google.com/forms/d/e/1FAIpQLScx93bGMxWD3wLzDI3TboSOoN78GNOF1jloc9MBU6RaXgRRcw/viewform">click here</a>
                to register. Coffee and lunch will be provided at the event.
            </p>
            <h2>Invited Speakers</h2>
            <ul class="body">
                <p>
                <li>
                    <a href="https://www.math.uzh.ch/index.php?id=people&id=people&key1=8882&L=1"> Remi Abgrall </a> --- University of Z&uuml;rich: Scientific computing
                </li>
                </p>
                <p>
                <li>
                    <a href="https://ccse.lbl.gov/people/almgren/"> Ann Almgren </a> --- Berkeley Lab: Computational algorithms
                </li>
                </p>
                <p>
                <li>
                    <a href="https://matter.toronto.edu/"> Alan Aspuru-Guzik  </a> --- University of Toronto: Algorithms for Quantum Computers
                </li>
                </p>
                <p>
                <li>
                    <a href="https://www.linkedin.com/in/fariba-fahroo-a57a645/"> Fariba Fahroo </a> --- DARPA DSO: Computational math and control theory
                </li>
                </p>
                <p>
                <li>
                    <a href="https://mcss.epfl.ch/"> Jan Hesthaven </a> --- Swiss Federal Institute of Technology Lausanne: High-order accurate computational methods
                </li>
                </p>
                <p>
                <li>
                    <a href="http://math.mit.edu/~stevenj/"> Steven Johnson </a> --- MIT: High-performance computation
                </li>
                </p>
                <p>
                <li>
                    <a href="http://meche.mit.edu/people/faculty/patera@mit.edu"> Tony Patera </a> --- MIT: Computational engineering
                </li>
                </p>
                <p>
                <li>
                    <a href="http://www.ing.unitn.it/~toroe/"> Tito Toro </a> --- University of Trento: Computational methods for hyperbolic equations
                </li>
                </p>
                <p>
                <li>
                    <a href="http://www.nobuyuki-umetani.com/"> Nobuyuki Umetani </a> --- The University of Tokyo: Machine learning CFD
                </li>
                </p>
                <p>
                <li>
                    <a href="http://www.mathcs.emory.edu/~ale/"> Alessandro Veneziani </a> --- Emory University: Numerical partial differential equations
                </li>
                </p>
                <p>
                <li>
                    <a href="http://pages.cs.wisc.edu/~swright/"> Stephen Wright </a> --- University of Wisconsin–Madison: Numerical optimization
                </li>
                </p>
            </ul>
            <h2>Schedule</h2>
            <table>
                <tr>
                    <th>Day 1 (May 21, 2019)</th>
                </tr>
                <tr>
                    <td>08:45-09:00</td>
                    <td>Opening Remarks</td>
                    <td>David Zingg</td>
                </tr>
                <tr>
                    <td>09:00-10:00</td>
                    <td>Invited Speaker</td>
                    <td>Jan Hesthaven</td>
                </tr>
                <tr>
                    <td>10:00-11:00</td>
                    <td>Invited Speaker</td>
                    <td>Steven Johnson</td>
                </tr>
                <tr>
                    <td>11:00-11:15</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>11:15-12:15</td>
                    <td>Invited Speaker</td>
                    <td>Alan Aspuru-Guzik</td>
                </tr>
                <tr>
                    <td>12:15-13:15</td>
                    <td>Lunch</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>13:15-14:15</td>
                    <td>Invited Speaker</td>
                    <td>Eleuterio Toro</td>
                </tr>
                <tr>
                    <td>14:15-15:15</td>
                    <td>Invited Speaker</td>
                    <td>Ann Almgren</td>
                </tr>
                <tr>
                    <td>15:15-15:30</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td>Invited Speaker</td>
                    <td>Alessandro Veneziani</td>
                </tr>
                <tr>
                    <td>16:30-17:30</td>
                    <td>Roundtable Discussion</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>Event Dinner</td>
                    <td>(Location TBD)</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Day 2 (May 22, 2019)</th>
                </tr>
                <tr>
                    <td>08:45-09:00</td>
                    <td>Coffee</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>09:00-10:00</td>
                    <td>Invited Speaker</td>
                    <td>Remi Abgrall</td>
                </tr>
                <tr>
                    <td>10:00-11:00</td>
                    <td>Invited Speaker</td>
                    <td>Fariba Fahroo</td>
                </tr>
                <tr>
                    <td>11:00-11:15</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>11:15-12:15</td>
                    <td>Invited Speaker</td>
                    <td>Stephen Wright</td>
                </tr>
                <tr>
                    <td>12:15-13:15</td>
                    <td>Lunch</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>13:15-14:15</td>
                    <td>Invited Speaker</td>
                    <td>Anthony Patera</td>
                </tr>
                <tr>
                    <td>14:15-15:15</td>
                    <td>Invited Speaker</td>
                    <td>Nobuyuki Umetani</td>
                </tr>
                <tr>
                    <td>15:15-15:30</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td>Roundtable Discussion</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>16:30-16:45</td>
                    <td>Closing Remarks</td>
                    <td>David Zingg</td>
                </tr>
            </table>
            <h2>Call for Papers</h2>
            <p>
                We invite researchers to submit their recent work on developments, analysis, or applications in
                computational science and engineering. Potential topics could be related to machine learning,
                uncertainty quantification, complexity reduction techniques (e.g. dimensionality reduction),
                optimization, or partial differential equations.
            </p>
            <p>
                A submission should take the form of a 1 page extended abstract (single column in at least 12pt font,
                submitted in PDF format). Author names do not need to be anonymized and references may extend as far as
                needed beyond the 1 page limit. Submissions may include a supplement/appendix, but reviewers are not
                responsible for reading any supplementary material.
            </p>
            <p>
                Please submit abstracts <a href="https://goo.gl/forms/PUey2o7tJHkl9gYH3"> here </a>. Accepted
                submissions will be invited to present a poster at the symposium. Additionally, the accepted PDF files
                will be posted on the symposium website. Authors must also <a href="https://docs.google.com/forms/d/e/1FAIpQLScx93bGMxWD3wLzDI3TboSOoN78GNOF1jloc9MBU6RaXgRRcw/viewform">
                register for the symposium</a>
            </p>
            <p>
                <b>Abstract Submission Deadline: April 8, 2019. 11:59pm EST.</b>
                Notification to presenters: April 22, 2019
            </p>
            <p>
                Questions? Please contact Trefor Evans at trefor.evans@mail.utoronto.ca
            </p>
        </div>
    </div>
{% endblock %}