{% extends '__base.html' %}

{% block title %}
    Overview | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Computational Science and Engineering Symposium 2019</h1>
            <p>
                The Centre for Computational Science and Engineering (CCSE) is pleased to invite you the 1st
                Computational Science and Engineering Symposium. The symposium will be held at the University of Toronto
                Institute for Aerospace Studies (<a href="https://goo.gl/maps/LvNn2bFR1b42">4925 Dufferin St, Toronto, ON</a>)
                from May 21—22, 2019. This two-day event provides exciting opportunities to network with experts, stay
                on top of the latest technological advances, and identify potential alliances and partnering
                opportunities with international scientists! <a href="https://docs.google.com/forms/d/e/1FAIpQLScx93bGMxWD3wLzDI3TboSOoN78GNOF1jloc9MBU6RaXgRRcw/viewform">
                Registration is required for this event</a> (although not for invited speakers).
            </p>
            
            <h2 class="section-header">Registration</h2>
            <p>
                Please <a href="https://docs.google.com/forms/d/e/1FAIpQLScx93bGMxWD3wLzDI3TboSOoN78GNOF1jloc9MBU6RaXgRRcw/viewform">click here</a>
                to register, it is free and coffee and lunch will be provided at the event.
            </p>
            <p>
                Note: Invited speakers are not required to register.
            </p>
            <h2>Invited Speakers</h2>
            <ul class="body">
                <p>
                <li>
                    <a href="https://www.math.uzh.ch/index.php?id=people&id=people&key1=8882&L=1"> Remi Abgrall </a> --- University of Z&uuml;rich: Scientific computing
                </li>
                </p>
                <p>
                <strong>Title: </strong> High order approximation of compressible flows: some new results
                </p>
                <strong>Abstract: </strong>
                <p>
                    In this talk, I will describe two classes of methods for the simulation of compressible flows
                    (perfect gases, or complex with phase transition). The first one uses a high order finite element
                    like method with hybrid meshes. It can satisfy, besides local conservation, satisfy several
                    constraints like entropy conservation (if needed), local conservation of the kinetic momentum, etc.
                    The second one, with only one dimensional preliminary results, uses a kinetic formulation of the
                    equations and can run at CFL=1 on regular meshes, bearing some similarities with LBM methods.
                    In both cases the methods are high order (i.e. higher than second order) in time and space.
                </p>
                <strong>Bio: </strong>
                <p>
                    Professor Abgrall has been awarded an Advanced Research Grant from the ERC in 2008 and  an Inria International
                    Chair for the period 2019-2024. He is editor in chief of the Journal of Computational Physics, and
                    associate editor of several international journals, including the Computers and Fluids, the Journal
                    of Scientific Computing. His research is about the design of very high order schemes, using
                    unstructured meshes, for hyperbolic problems, as well as efficient algorithms for the simulation
                    of compressible materials (single fluids, multiphase, interface problems, compressible solids).
                    He is also interested in model reduction for these problems.
                </p>
                <p>
                <li>
                    <a href="https://ccse.lbl.gov/people/almgren/"> Ann Almgren </a> --- Berkeley Lab: Computational algorithms
                </li>
                </p>
                <p>
                <li>
                    <a href="https://matter.toronto.edu/"> Alan Aspuru-Guzik  </a> --- University of Toronto: Algorithms for Quantum Computers
                </li>
                </p>
                <p>
                <li>
                    <a href="https://www.linkedin.com/in/fariba-fahroo-a57a645/"> Fariba Fahroo </a> --- DARPA DSO: Computational math and control theory
                </li>
                </p>
                <p>
                <li>
                    <a href="https://mcss.epfl.ch/"> Jan Hesthaven </a> --- Swiss Federal Institute of Technology Lausanne: High-order accurate computational methods
                </li>
                </p>
                <p>
                <li>
                    <a href="http://math.mit.edu/~stevenj/"> Steven Johnson </a> --- MIT: High-performance computation
                </li>
                </p>
                <p>
                <li>
                    <a href="http://meche.mit.edu/people/faculty/patera@mit.edu"> Tony Patera </a> --- MIT: Computational engineering
                </li>
                </p>
                <p>
                <li>
                    <a href="http://www.ing.unitn.it/~toroe/"> Eleuterio Toro </a> --- University of Trento: Computational methods for hyperbolic equations
                </li>
                </p>
                <p>
                <strong>Title: </strong> Brain Fluid Dynamics and Associated Diseases: A Holistic Modelling Approach
                </p>
                <strong>Abstract: </strong>
                <p>
                    First I review the physiology of extracellular fluid compartments in the human central nervous
                    system with emphasis in their anatomical connections, their mechanics as well as some recent
                    discoveries. This is followed by a brief discussion on a range of fluid-dynamics related disorders
                    associated to diseases that include Meniere’s Disease, Idiopathic Parkinson’s Disease, Multiple
                    Sclerosis, Alzheimer’s Disease and Idiopathic Intracranial Hypertension. I then describe a global,
                    closed loop mathematical model for the entire human circulation coupled to the dynamics of other
                    bodily fluid systems. I present results on the role of intracranial and extracranial venous outflow
                    anomalies on brain dynamics. We predict disturbed brain fluid dynamics, intracranial venous
                    hypertension, intracranial hypertension, reverse flow and reduced perfusion. We speculate that such
                    disturbances may be part of the triggering mechanisms of several neurological diseases. To conclude
                    I point out some of the limitations of our work and some mathematical and computational problems
                    still unsolved.
                </p>
                <strong>Bio: </strong>
                <p>
                    Eleuterio Toro, born in Chile on 16th July 1946, is currently an Emeritus Professor of Mathematics at the
                    University of Trento, Italy and formerly a full Professor (Professore Chiara Fama) of Numerical Analysis at
                    the Laboratory of Applied Mathematics, DICAM, University of Trento, Italy. He holds an Honours BSc in
                    pure mathematics (University of Warwick, UK), an MSc in functional analysis and differential equations
                    (University of Dundee, UK) and a PhD in computational mathematics from Teesside University (UK 1982).
                    Professor Toro has received several honours and distinctions, which include the honorary title OBE from
                    Queen Elizabeth II (UK, 2000); Distinguished Citizen of the City of Carahue (Chile, 2001); Life Fellow,
                    Claire Hall,  University  of  Cambridge  (UK,  2003);  Fellow  of  the  Indian  Society  for  Shock  Wave  Research
                    (Bangalore, 2005); Doctor Honoris Causa (Universidad de Santiago de Chile, 2008); William Penney Fellow,
                    University of Cambridge (UK, 2010); Doctor Honoris Causa (Universidad de la Frontera, Chile, 2012) and
                    Honorary Professor, Moscow Institute of Physics and Technology, Russia. Professor Toro’s research has for
                    many  years  focused on  the  construction  of  computational  methods  for  solving  partial  differential
                    equations, with particular emphasis on hyperbolic balance laws and applications to industrial, aerospace
                    and environmental problems. Contribution highlights include: WAF (1989), HLLC (1992), FORCE (1996),
                    ADER (2001), MUSTA (2004), TV flux splitting (2012). Professor Toro’s research is currently focused on the
                    study of the biophysics of neurodegenerative diseases and their association to the disturbed dynamical
                    interaction of fluid compartments in the central nervous system (arterial blood, venous blood, interstitial fluid,
                    cerebrospinal fluid, the brain parenchyma and the lymphatic system). Of particular interest is the
                    elucidation  of  the  hypothesized  link  between  extra-cranial  venous  anomalies  and neuropathologies,
                    such as Multiple Sclerosis, Meniere’s disease and Parkinson’s disease. In the last ten years he has been an
                    invited keynote speaker in more than 100 international scientific events. Professor Toro has held many visiting
                    appointments round the world, which include several European countries, Japan, China and USA. He is author of
                    more than 300 research works with citations of the order of 19000 on GoogleScholar.
                </p>
                <p>
                <li>
                    <a href="http://www.nobuyuki-umetani.com/"> Nobuyuki Umetani </a> --- The University of Tokyo: Machine learning CFD
                </li>
                </p>
                <p>
                <li>
                    <a href="http://www.mathcs.emory.edu/~ale/"> Alessandro Veneziani </a> --- Emory University: Numerical partial differential equations
                </li>
                </p>
                <p>
                <li>
                    <a href="http://pages.cs.wisc.edu/~swright/"> Stephen Wright </a> --- University of Wisconsin–Madison: Numerical optimization
                </li>
                </p>
                <p>
                <strong>Title: </strong> Optimization in Machine Learning
                </p>
                <strong>Abstract: </strong>
                <p>
                    Optimization is vital to the modern revolution in data science, and techniques from optimization
                    have become essential in formulating and a wide variety of data analysis problems. In turn, data has
                    caused a ferment of new research activity in optimization by posing challenging new problems and new
                    contexts. We start this talk with an overview of the many problem classes in data science in which
                    optimization provides the key solution methodology. We discuss several areas of recent interest that
                    are relevant to both areas, including such areas as nonconvex optimization, robust optimization,
                    adversarial machine learning, neural networks, and matrix optimization. Throughout, we will
                    highlight aspects relevant to scientific computing, noting that the computational needs of
                    optimization algorithms in many machine learning applications are very high.
                </p>
                <strong>Bio: </strong>
                <p>
                    Stephen J. Wright holds the George B. Dantzig Professorship, the Sheldon Lubar Chair, and the Amar
                    and Balinder Sohi Professorship of Computer Sciences at the University of Wisconsin-Madison. His
                    research is in computational optimization and its applications to many areas of science and
                    engineering. Prior to joining UW-Madison in 2001, Wright held positions at North Carolina State
                    University (1986-90), Argonne National Laboratory (1990-2001), and the University of Chicago
                    (2000-2001). He has served as Chair of the Mathematical Optimization Society (2007-2010) and as a
                    Trustee of SIAM for the maximum three terms (2005-2014). He is a Fellow of SIAM. In 2014, he won the
                    W.R.G. Baker Award from IEEE for best paper in an IEEE archival publication during the three years
                    2009-2011. Wright is the author / coauthor of widely used text and reference books in optimization
                    including "Primal Dual Interior-Point Methods" and "Numerical Optimization". He has published widely
                    on optimization theory, algorithms, software, and applications. Wright is current editor-in-chief of
                    the SIAM Journal on Optimization and previously served as editor-in-chief of Mathematical
                    Programming Series B. He has also served as associate editor of Mathematical Programming Series A,
                    SIAM Review, SIAM Journal on Scientific Computing, and several other journals and book series.
                </p>
            </ul>
            <h2>Schedule</h2>
            <table>
                <tr>
                    <th>Day 1 (May 21, 2019)</th>
                </tr>
                <tr>
                    <td>08:45-09:00</td>
                    <td>Opening Remarks</td>
                    <td>David Zingg</td>
                </tr>
                <tr>
                    <td>09:00-10:00</td>
                    <td>Invited Speaker</td>
                    <td>Jan Hesthaven</td>
                </tr>
                <tr>
                    <td>10:00-11:00</td>
                    <td>Invited Speaker</td>
                    <td>Steven Johnson</td>
                </tr>
                <tr>
                    <td>11:00-11:15</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>11:15-12:15</td>
                    <td>Invited Speaker</td>
                    <td>Alan Aspuru-Guzik</td>
                </tr>
                <tr>
                    <td>12:15-13:15</td>
                    <td>Lunch</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>13:15-14:15</td>
                    <td>Invited Speaker</td>
                    <td>Eleuterio Toro</td>
                </tr>
                <tr>
                    <td>14:15-15:15</td>
                    <td>Invited Speaker</td>
                    <td>Ann Almgren</td>
                </tr>
                <tr>
                    <td>15:15-15:30</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td>Invited Speaker</td>
                    <td>Alessandro Veneziani</td>
                </tr>
                <tr>
                    <td>16:30-17:30</td>
                    <td>Roundtable Discussion</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>Event Dinner</td>
                    <td><a href="https://terrarestaurant.ca/"> Terra Restaurant </a> <a href="https://www.google.com/maps/place/Terra+Restaurant/@43.8248577,-79.4281652,16z/data=!4m5!3m4!1s0x0:0xf797563fca02844e!8m2!3d43.8279214!4d-79.4264987"> [Map] </a></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Day 2 (May 22, 2019)</th>
                </tr>
                <tr>
                    <td>08:45-09:00</td>
                    <td>Coffee</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>09:00-10:00</td>
                    <td>Invited Speaker</td>
                    <td>Remi Abgrall</td>
                </tr>
                <tr>
                    <td>10:00-11:00</td>
                    <td>Invited Speaker</td>
                    <td>Fariba Fahroo</td>
                </tr>
                <tr>
                    <td>11:00-11:15</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>11:15-12:15</td>
                    <td>Invited Speaker</td>
                    <td>Stephen Wright</td>
                </tr>
                <tr>
                    <td>12:15-13:15</td>
                    <td>Lunch</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>13:15-14:15</td>
                    <td>Invited Speaker</td>
                    <td>Anthony Patera</td>
                </tr>
                <tr>
                    <td>14:15-15:15</td>
                    <td>Invited Speaker</td>
                    <td>Nobuyuki Umetani</td>
                </tr>
                <tr>
                    <td>15:15-15:30</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td>Roundtable Discussion</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>16:30-16:45</td>
                    <td>Closing Remarks</td>
                    <td>David Zingg</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
