{% extends '__base.html' %}

{% block title %}
    Overview | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Computational Science and Engineering Symposium 2019</h1>
            <p>
                The Centre for Computational Science and Engineering (CCSE) is pleased to invite you the 1st
                Computational Science and Engineering Symposium. The symposium will be held at the University of Toronto
                Institute for Aerospace Studies (<a href="https://goo.gl/maps/LvNn2bFR1b42">4925 Dufferin St, Toronto, ON</a>)
                from May 21—22, 2019. This two-day event provides exciting opportunities to network with experts, stay
                on top of the latest technological advances, and identify potential alliances and partnering
                opportunities with international scientists! <a href="https://docs.google.com/forms/d/e/1FAIpQLScx93bGMxWD3wLzDI3TboSOoN78GNOF1jloc9MBU6RaXgRRcw/viewform">
                Registration is required for this event</a> (although not for invited speakers).
            </p>
            
            <h2 class="section-header">Registration</h2>
            <p>
                Please <a href="https://docs.google.com/forms/d/e/1FAIpQLScx93bGMxWD3wLzDI3TboSOoN78GNOF1jloc9MBU6RaXgRRcw/viewform">click here</a>
                to register, it is free and coffee and lunch will be provided at the event.
            </p>
            <p>
                Note: Invited speakers are not required to register.
            </p>
            <h2>Schedule</h2>
            <table>
                <tr>
                    <th>Day 1 (May 21, 2019)</th>
                </tr>
                <tr>
                    <td>08:45-09:00</td>
                    <td>Opening Remarks</td>
                    <td>David Zingg</td>
                </tr>
                <tr>
                    <td>09:00-10:00</td>
                    <td>Invited Speaker</td>
                    <td>Jan Hesthaven</td>
                </tr>
                <tr>
                    <td>10:00-11:00</td>
                    <td>Invited Speaker</td>
                    <td>Steven Wright</td>
                </tr>
                <tr>
                    <td>11:00-11:15</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>11:15-12:15</td>
                    <td>Invited Speaker</td>
                    <td>Al&aacute;n Aspuru-Guzik</td>
                </tr>
                <tr>
                    <td>12:15-13:15</td>
                    <td>Lunch</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>13:15-14:15</td>
                    <td>Invited Speaker</td>
                    <td>Eleuterio Toro</td>
                </tr>
                <tr>
                    <td>14:15-15:15</td>
                    <td>Invited Speaker</td>
                    <td>Ann Almgren</td>
                </tr>
                <tr>
                    <td>15:15-15:30</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td>Invited Speaker</td>
                    <td>Alessandro Veneziani</td>
                </tr>
                <tr>
                    <td>16:30-17:30</td>
                    <td>Roundtable Discussion</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>18:30</td>
                    <td>Event Dinner</td>
                    <td><a href="https://terrarestaurant.ca/"> Terra Restaurant </a> <a href="https://www.google.com/maps/place/Terra+Restaurant/@43.8248577,-79.4281652,16z/data=!4m5!3m4!1s0x0:0xf797563fca02844e!8m2!3d43.8279214!4d-79.4264987"> [Map] </a></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Day 2 (May 22, 2019)</th>
                </tr>
                <tr>
                    <td>08:45-09:00</td>
                    <td>Coffee</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>09:00-10:00</td>
                    <td>Invited Speaker</td>
                    <td>R&eacute;mi Abgrall</td>
                </tr>
                <tr>
                    <td>10:00-11:00</td>
                    <td>Invited Speaker</td>
                    <td>Fariba Fahroo</td>
                </tr>
                <tr>
                    <td>11:00-11:15</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>11:15-12:15</td>
                    <td>Invited Speaker</td>
                    <td>Stephen Johnson</td>
                </tr>
                <tr>
                    <td>12:15-13:15</td>
                    <td>Lunch</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>13:15-14:15</td>
                    <td>Invited Speaker</td>
                    <td>Anthony Patera</td>
                </tr>
                <tr>
                    <td>14:15-15:15</td>
                    <td>Invited Speaker</td>
                    <td>Nobuyuki Umetani</td>
                </tr>
                <tr>
                    <td>15:15-15:30</td>
                    <td>Coffee Break</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td>Roundtable Discussion</td>
                    <td>  </td>
                </tr>
                <tr>
                    <td>16:30-16:45</td>
                    <td>Closing Remarks</td>
                    <td>David Zingg</td>
                </tr>
            </table>
            Note: the event dinner is reserved for invited speakers.
            <h2>Invited Speakers</h2>
            <ul class="body">
                <p>
                <li>
                    <a href="https://www.math.uzh.ch/index.php?id=people&id=people&key1=8882&L=1"> R&eacute;mi Abgrall </a> --- University of Z&uuml;rich & Inria: Scientific computing
                </li>
                </p>
                <p>
                <strong>Title: </strong> High order approximation of compressible flows: some new results
                </p>
                <strong>Abstract: </strong>
                <p>
                    In this talk, I will describe two classes of methods for the simulation of compressible flows
                    (perfect gases, or complex with phase transition). The first one uses a high order finite element
                    like method with hybrid meshes. It can satisfy, besides local conservation, satisfy several
                    constraints like entropy conservation (if needed), local conservation of the kinetic momentum, etc.
                    The second one, with only one dimensional preliminary results, uses a kinetic formulation of the
                    equations and can run at CFL=1 on regular meshes, bearing some similarities with LBM methods.
                    In both cases the methods are high order (i.e. higher than second order) in time and space.
                </p>
                <strong>Bio: </strong>
                <p>
                    Professor Abgrall has been awarded an Advanced Research Grant from the ERC in 2008 and  an Inria International
                    Chair for the period 2019-2024. He is editor in chief of the Journal of Computational Physics, and
                    associate editor of several international journals, including the Computers and Fluids, the Journal
                    of Scientific Computing. His research is about the design of very high order schemes, using
                    unstructured meshes, for hyperbolic problems, as well as efficient algorithms for the simulation
                    of compressible materials (single fluids, multiphase, interface problems, compressible solids).
                    He is also interested in model reduction for these problems.
                </p>
                <p>
                <li>
                    <a href="https://ccse.lbl.gov/people/almgren/"> Ann Almgren </a> --- Berkeley Lab: Computational algorithms
                </li>
                </p>
                <p>
                <li>
                    <a href="https://matter.toronto.edu/"> Al&aacute;n Aspuru-Guzik  </a> --- University of Toronto: Algorithms for Quantum Computers
                </li>
                </p>
				<p>
                <strong>Title: </strong> Quantum algorithms for near-term quantum computers
                </p>
                <strong>Abstract: </strong>
                <p>
                    We are in the NISQ era of quantum computing. NISQ stands for "Near-term intermediate-scale quantum computer". 
					These machines are not error corrected and have of the order of tens of quantum bits. In this talk, I will discuss a family 
					of quantum algorithms that are promising applications for these devices that my group and others have developed. 
					I will discuss potential applications for the simulation of chemistry and materials and quantum machine learning.
                </p>
                <strong>Bio: </strong>
                <p>
                    Al&aacute;n Aspuru-Guzik's research lies at the interface of computer science with chemistry and physics. He works 
					in the integration of robotics, machine learning and high-throughput quantum chemistry for the development 
					of materials acceleration platforms. These "self-driving laboratories" promise to accelerate 
					the rate of scientific discovery, with applications to clean energy and optoelectronic materials. 
					Alán also develops quantum computer algorithms for quantum machine learning and has pioneered 
					quantum algorithms for the simulation of matter. He is jointly appointed as a Professor of Chemistry 
					and Computer Science at the University of Toronto. Previously, he was a full professor at Harvard University. 
					Alán is also a co-founder of Zapata Computing and Kebotix, two early-stage ventures in quantum computing and
					self-driving laboratories respectively.
                </p>
                <p>
                <li>
                    <a href="https://www.linkedin.com/in/fariba-fahroo-a57a645/"> Fariba Fahroo </a> --- DARPA DSO: Computational math and control theory
                </li>
                </p>
                <p>
                <li>
                    <a href="https://mcss.epfl.ch/"> Jan Hesthaven </a> --- Swiss Federal Institute of Technology Lausanne: High-order accurate computational methods
                </li>
                </p>
                <p>
                <strong>Title: </strong> Precision Algorithms: Algorithm Augmentation by Machine Learning
                </p>
                <strong>Abstract: </strong>
                <p>
                    While the success of modern simulation techniques is undisputed, many of the most successful
                    schemes rely on the tuning of parameters, often in a nonlinear and spatio-temporal fashion to ensure
                    optimal algorithm performance. Classic examples include the detection of bad cells when one solves
                    conservation laws with high-order methods, the adaptive selection of stencils in ENO/WENO methods or
                    general adaptive methods, or the formulation of efficient and robust reduced order models for
                    nonlinear problems where standard projection based methods often fail. These specific elements are all
                    characterized as playing a central role in an otherwise successful algorithm. In this talk we
                    discuss the potential of using ideas of machine learning to overcome such bottlenecks and augment
                    the algorithm to allow the choice of optimal local parameters and eliminate critical performance
                    bottlenecks, resulting vastly improved performance of the augmented algorithm. The central approach
                    is to carefully identify such bottlenecks and explore data driven solutions but otherwise maintain
                    the integrity of a well tested method. After a brief introduction to machine learning techniques
                    and, in particular, neural networks, we demonstrate the success of this general idea through a
                    number of specific examples, primarily motivated by challenges associated with the numerical
                    solution of conservation laws. Time permitting, we also touch on advances in reduced order modeling,
                    enabled by a similar approach. While exemplified through specific examples, the overall philosophy
                    is general and we conclude the talk with a more general discussion of the potential of augmenting
                    algorithms by machine learning, resulting in a class of methods which can perhaps be referred to as
                    precision algorithms.
                </p>
                <strong>Bio: </strong>
                <p>
                    Jan S Hesthaven holds the Chair of Computational Mathematics and Simulation Science at EPFL since
                    2013 and is the Dean of the School of Basic Sciences at EPFL since 2017. His research focuses on the
                    development, analysis and application of high-order accurate methods for time-dependent partial
                    differential equations with an emphasis on wave dominated problems. Prior to joining EPFL in 2013,
                    he was on the faculty of the Division of Applied Mathematics at Brown University for 15 years. He
                    is an Alfred P Sloan fellow, an NSF Career awardee, and a SIAM fellow. He current serves as the
                    editor-in-chief of SIAM Journal of Scientific Computing and on the editorial board several other
                    leading journals, incl Journal of Computational Physics, Mathematical Modeling and Numerical
                    Analysis, and Numerische Mathematik.
                </p>
                <p>
                <li>
                    <a href="http://math.mit.edu/~stevenj/"> Steven Johnson </a> --- MIT: High-performance computation
                </li>
                </p>
                <p>
                <strong>Title: </strong> Large-scale Optimization in Nanophotonics
                </p>
                <strong>Abstract: </strong>
                <p>
                    Increasingly sophisticated nanofabrication techniques have opened an enormous space of
                    design parameters for nanophotonic devices, and one approach to this flexibility is large-scale
                    optimization (or "inverse design"): allowing a computer to search a huge range of possible
                    geometries with minimal human input in order to choose the best design for a given objective.
                    The key question in such approaches is often not what optimization algorithm to use, however,
                    but how to formulate the optimization problem: there are often many choices of formulations,
                    parameterizations, and objective functions for a single conceptual task, and which one is chosen
                    can make an enormous difference in the feasibility of the computation and the usability of the
                    result. We illustrate these ideas with problems in the design of nonlinear microcavities and
                    large-scale "metasurfaces", both of which quickly become intractable if attacked naively.

                </p>
                <strong>Bio: </strong>
                <p>
                    Steven G. Johnson is a Professor of Applied Mathematics and Physics at MIT.  He works in the field
                    of nanophotonics—electromagnetism in media structured on the wavelength scale, especially in the
                    infrared and optical regimes—where he works on many aspects of the theory, design, and computational
                    modeling of nanophotonic devices, both classical and quantum. He is coauthor of over 200 papers and
                    over 25 patents, including the second edition of the textbook Photonic Crystals: Molding the Flow of
                    Light. In addition to traditional publications, he distributes several widely used free-software
                    packages for scientific computation, including the MPB and Meep electromagnetic simulation tools and
                    the FFTW fast Fourier transform library (for which he received the 1999 J. H. Wilkinson Prize for
                    Numerical Software).
                </p>
                <p>
                <li>
                    <a href="http://meche.mit.edu/people/faculty/patera@mit.edu"> Tony Patera </a> --- MIT: Computational engineering
                </li>
                </p>
                <p>
                <strong>Title: </strong> Artie: An Artificial Student for Heat Transfer
                </p>
                <strong>Abstract: </strong>
                <p>
                    An undergraduate student in heat transfer (or similar engineering science continuum discipline) maps
                    a non-prescriptive problem statement in natural language first to a relatively simple mathematical
                    model and finally to a closed-form approximate solution. This classical approach remains relevant
                    even today: to develop design tools which serve to narrow the parameter domain prior to more refined
                    optimization; to provide transparent reference solutions which serve to verify the results of
                    large-scale simulation. "Artie" is software which replicates the undergraduate student procedure and
                    further expands the analysis capability to incorporate numerical solution of parametrized partial
                    differential equations (PDEs). We anticipate that Artie could ultimately earn an A+ in an MIT heat
                    transfer subject. The latter, in turn, has important implications for education and professional
                    practice: we must update the undergraduate curriculum, and we must revisit the roles of engineers.
                    However, many technical challenges remain, in particular related to geometry and image processing,
                    natural language understanding, incorporation of (heat transfer) empirical data and correlations,
                    identification of asymptotic limits in complex configurations, acceleration of associated PDE
                    computations, and assessment of model and approximation error.
                </p>
                <strong>Bio: </strong>
                <p>
                    Anthony T. Patera is Ford Professor of Engineering and Professor of Mechanical Engineering at MIT.
                    He has undergraduate and graduate degrees in Mechanical Engineering from MIT and a doctoral degree
                    in Applied Mathematics also from MIT. His current research focuses on two areas: integrated
                    methodologies for mathematical modeling and (numerical) approximation in disciplines informed by
                    partial differential equations; reduced basis approximation and a posteriori error estimation for
                    the parametrized partial differential equations of elasticity, acoustics, fluid dynamics,
                    and heat transfer.
                </p>
                <p>
                <li>
                    <a href="http://www.ing.unitn.it/~toroe/"> Eleuterio Toro </a> --- University of Trento: Computational methods for hyperbolic equations
                </li>
                </p>
                <p>
                <strong>Title: </strong> Brain Fluid Dynamics and Associated Diseases: A Holistic Modelling Approach
                </p>
                <strong>Abstract: </strong>
                <p>
                    First I review the physiology of extracellular fluid compartments in the human central nervous
                    system with emphasis in their anatomical connections, their mechanics as well as some recent
                    discoveries. This is followed by a brief discussion on a range of fluid-dynamics related disorders
                    associated to diseases that include Meniere’s Disease, Idiopathic Parkinson’s Disease, Multiple
                    Sclerosis, Alzheimer’s Disease and Idiopathic Intracranial Hypertension. I then describe a global,
                    closed loop mathematical model for the entire human circulation coupled to the dynamics of other
                    bodily fluid systems. I present results on the role of intracranial and extracranial venous outflow
                    anomalies on brain dynamics. We predict disturbed brain fluid dynamics, intracranial venous
                    hypertension, intracranial hypertension, reverse flow and reduced perfusion. We speculate that such
                    disturbances may be part of the triggering mechanisms of several neurological diseases. To conclude
                    I point out some of the limitations of our work and some mathematical and computational problems
                    still unsolved.
                </p>
                <strong>Bio: </strong>
                <p>
                    Eleuterio F. Toro, born in Chile on 16th July 1946, is currently an Emeritus Professor of
                    Mathematics at the University of Trento, Italy and formerly a full Professor of Numerical Analysis
                    at the same University. He holds an Honours BSc in pure mathematics (University of Warwick, UK); an
                    MSc in functional analysis and differential equations (University of Dundee, UK); a PhD in
                    computational mathematics from Teesside University (UK 1982) and is recipient of several honours
                    and distinctions. Professor Toro’s research has for many years focused on the construction of
                    computational methods for solving time-dependent evolutionary partial differential equations, with
                    particular emphasis on hyperbolic balance laws and applications to industrial, aerospace and
                    environmental problems. Currently, Professor Toro’s research is focused on the biophysics of
                    neurodegenerative diseases and their association to the disturbed dynamical interaction of fluid
                    compartments in the central nervous system (arterial blood, venous blood, interstitial fluid,
                    cerebrospinal fluid, the brain parenchyma and the lymphatic system) and their potential association
                    to neurological diseases.
                </p>
                <p>
                <li>
                    <a href="http://www.nobuyuki-umetani.com/"> Nobuyuki Umetani </a> --- The University of Tokyo: Machine learning CFD
                </li>
                </p>
                <p>
                <strong>Title: </strong> Machine Learning CFD for Interactive Aerodynamic Design
                </p>
                <strong>Abstract: </strong>
                <p>
                    Designing aerodynamic 3D objects today continue to be a time-consuming task. The designer needs to
                    carefully optimize the objects' performance such as drag coefficient which often can be evaluated
                    through the expensive CFD simulation. Leveraging the power of machine learning, we can now
                    drastically accelerate various kinds of simulations for 3D shape designs. Based on the prior
                    real-world or simulation examples for various existing shapes, machine learning can instantly
                    synthesize simulation results for a novel input shape.  In this talk, I describe our several
                    interactive approaches to integrate CFD simulation into geometric modeling to actively support
                    creative design processes. Importance of interactivity in the design system will be discussed in
                    various practical contexts including wind musical instrument design, hand-launching airplane design,
                    three-dimensional kite design, and aerodynamically efficient car shape design.
                </p>
                <strong>Bio: </strong>
                <p>
                    Nobuyuki Umetani is a project lecturer at the University of Tokyo. Previously, he was a research
                    scientist at Autodesk Research, leading the Design and Fabrication group. He was a postdoctoral
                    researcher at Autodesk Research and Disney Research Zurich. He received his Ph.D. degree in 2012
                    from The University of Tokyo under the supervision of Takeo Igarashi. He also spent one year at
                    Columbia University and in TU Delft, and spent three months in Microsoft Research Asia and in UCL.
                    He won the Microsoft Research Asia fellowship in 2011. The principal research question he addresses
                    through his studies is: how to integrate real-time physical simulation into an interactive geometric
                    modeling procedure to facilitate creativity. He is broadly interested in physics simulation,
                    especially the finite element method, applied for computer animation, biomechanics, and mechanical
                    engineering.
                </p>
                <p>
                <li>
                    <a href="http://www.mathcs.emory.edu/~ale/"> Alessandro Veneziani </a> --- Emory University: Numerical partial differential equations
                </li>
                </p>
                <p>
                <li>
                    <a href="http://pages.cs.wisc.edu/~swright/"> Stephen Wright </a> --- University of Wisconsin–Madison: Numerical optimization
                </li>
                </p>
                <p>
                <strong>Title: </strong> Optimization in Machine Learning
                </p>
                <strong>Abstract: </strong>
                <p>
                    Optimization is vital to the modern revolution in data science, and techniques from optimization
                    have become essential in formulating and a wide variety of data analysis problems. In turn, data has
                    caused a ferment of new research activity in optimization by posing challenging new problems and new
                    contexts. We start this talk with an overview of the many problem classes in data science in which
                    optimization provides the key solution methodology. We discuss several areas of recent interest that
                    are relevant to both areas, including such areas as nonconvex optimization, robust optimization,
                    adversarial machine learning, neural networks, and matrix optimization. Throughout, we will
                    highlight aspects relevant to scientific computing, noting that the computational needs of
                    optimization algorithms in many machine learning applications are very high.
                </p>
                <strong>Bio: </strong>
                <p>
                    Stephen J. Wright holds the George B. Dantzig Professorship, the Sheldon Lubar Chair, and the Amar
                    and Balinder Sohi Professorship of Computer Sciences at the University of Wisconsin-Madison. His
                    research is in computational optimization and its applications to many areas of science and
                    engineering. Prior to joining UW-Madison in 2001, Wright held positions at North Carolina State
                    University (1986-90), Argonne National Laboratory (1990-2001), and the University of Chicago
                    (2000-2001). He has served as Chair of the Mathematical Optimization Society (2007-2010) and as a
                    Trustee of SIAM for the maximum three terms (2005-2014). He is a Fellow of SIAM. In 2014, he won the
                    W.R.G. Baker Award from IEEE for best paper in an IEEE archival publication during the three years
                    2009-2011. Wright is the author / coauthor of widely used text and reference books in optimization
                    including "Primal Dual Interior-Point Methods" and "Numerical Optimization". He has published widely
                    on optimization theory, algorithms, software, and applications. Wright is current editor-in-chief of
                    the SIAM Journal on Optimization and previously served as editor-in-chief of Mathematical
                    Programming Series B. He has also served as associate editor of Mathematical Programming Series A,
                    SIAM Review, SIAM Journal on Scientific Computing, and several other journals and book series.
                </p>
            </ul>
        </div>
    </div>
{% endblock %}
