{% extends '__base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 widget">
                    <h1>Latest News</h1>
                    {% for item in news %}
                        <h3>
                            <a href="{% url 'news:article' item.pk %}">{{ item.title }}</a>
                        </h3>
                        <p>
                            {% autoescape off %}{{ item.date_added.date }} - {{ item.abstract }}{% endautoescape %}... <a href="{% url 'news:article' item.pk %}"><em>Read More</em></a>
                        </p>
                        <hr>
                    {% empty %}
                        <p>No news items to display.</p>
                    {% endfor %}
                    <h4><a href="{% url 'news:news' %}">More news &raquo</a></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 widget">
                    <h1>Mailing List</h1>
                    <p>
                        For students and faculty who wish to join the mailing list in order to receive information
                        about upcoming events directly, click <a href="{% url 'mailing-list:subscribtion-form' %}">here</a> to join the mailing list.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-md-12 widget">
                    <h1 class="update-title">Upcoming Events</h1>
                    <ul>
                        {% for event in upcoming_events %}
                            <li>
                                <a href="{% url 'events:event' event.pk %} ">
                                    {{ event }}
                                </a>
                                <p>
                                    {{ event.date }}
                                    {% if event.start_time %}
                                        {{ event.get_start }} - {{ event.get_end }}
                                    {% else %}
                                        Time TBD
                                    {% endif %}
                                    {% if event.location %}
                                        in {{ event.location }}
                                    {% endif %}
                                </p>
                            </li>
                        {% empty %}
                            <p>No upcoming events currently scheduled.</p>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-12 widget">
                    <h1 class="update-title">Recent Past Events</h1>
                    <ul>
                        {% for event in past_events %}
                            <li>
                                <a href="{% url 'events:event' event.pk %} ">
                                    {{ event }}
                                </a>
                                <p>
                                    {% if event.start_time %}
                                        {{ event.get_start }} - {{ event.get_end }}
                                    {% else %}
                                        Time TBD
                                    {% endif %}
                                    {% if event.location %}
                                        in {{ event.location }}
                                    {% endif %}
                                </p>
                            </li>
                        {% empty %}
                            <p>No past events.</p>
                        {% endfor %}
                        <li>
                            <a href="{% url 'events:events' %}">View all events &raquo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}