{% extends '__base.html' %}

{% block title %}
    Overview | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Overview</h1>

            <p>
                The Centre for <b>C</b>entre for <b>C</b>omputational <b>S</b>cience and <b>E</b>ngineering (CCSE) was
                founded in 2016 by a small group of students
                and professors from various faculties at the University of Toronto, all of whom are engaged in
                computational research. The students and professors come from a wide range of research backgrounds,
                ranging from fluid mechanics to operations, but all of them recognize that there exists many
                opportunities
                for collaboration across disciplines. The intention of the group is to pool both resources and a
                wide diversity of knowledge and experience for the benefit of present and future computational
                researchers
                at the University of Toronto.
            </p>

            <h2>Purpose</h2>
            <p>
                With continuous advances in computing hardware and software, computational science and engineering
                continues to increase in importance within the physical sciences, both in research and in practice. The
                purpose of the CCSE is to increase collaboration in
                high-quality research at the University of Toronto in fields such as
                as computational fluid dynamics, computational electromagnetics, computational materials engineering,
                uncertainty quantification, optimization, machine learning, and many others. There is a great deal of
                research going on within the various faculties at the university that would benefit from increased
                coordination and visibility,
                which can help facilitate the advancement of novel research in computational fields within the
                university as well as attract collaboration and potential students/professors from elsewhere.
            </p>

            <h2>Events</h2>

            <p>
                Outreach initiatives by the CCSE occur mainly in the form of various events. These events
                include speakers both from the University of Toronto and invited speakers from other universities. These
                speakers provide opportunities for researchers in a similar field to learn and collaborate, while
                researchers in other fields are exposed to new activities. CCSE aims to have at least one seminar
                every couple of months, with a hope to increase the frequency of seminars in the future as the centre
                grows.
            </p>

            <p>
                Additionally, CCSE hopes to begin organizing more formal workshops in the near future. These workshops
                will be intended to provide a learning resource for both new and experienced researchers. Some potential
                topics include popular mathematical modelling techniques in Finite Element Methods (FEM), open source
                software for scientific computing and many others. Information on past and upcoming events can be
                found on the <a href="{% url 'events:events' %}">events page</a>.
            </p>

            <h2>Faculty Members</h2>

            <p>
                A team of eleven faculty members, all of whom are conducting research in computational algorithms,
                form the core of CCSE. Each member of the faculty team provides one
                graduate student to the initiative. Although these eleven faculty members and the
                students
                they designate are the core of CCSE, its events are open to all members of the U of T research community.
                Currently the representatives come from four faculties; UTIAS, MIE, ECE, and MSE, however significant computational
                research also occurs in CIV, IBBME, CHE and many others. The following list is the eleven faculty members
                described above and their area of expertise:
            </p>

            <ul class="body">
                <p>
                <li>
                    <b>David Zingg, UTIAS</b> – His research is in the areas of computational fluid dynamics (CFD) and
                    aerodynamic
                    shape optimization, often applied to the investigation of unconventional aircraft configurations
                    with improved
                    fuel efficiency and reduced emissions. His algorithmic contributions include Newton-Krylov methods,
                    homotopy continuation methods, iterative methods, high-order implicit time-marching methods, and
                    high-order
                    summation by parts operators.
                </li>
                </p>
                <p>
                <li>
                    <b>Masa Yano, UTIAS</b> – His research interests lie in numerical methods, scientific computation,
                    and
                    numerical
                    analysis for partial differential equations (PDEs) with an emphasis on applications in fluid
                    dynamics.
                    Current
                    research topics include a posteriori error estimation, mesh adaptation, and model reduction of
                    parameterized
                    PDEs. Much of his work is focused on the development of PDE solution strategies that provide
                    numerical
                    predictions at a user-specified accuracy using minimal computational effort in an automated manner.
                </li>
                </p>
                <p>
                <li>
                    <b>Tim Chan, MIE</b> - His research focuses on the development of computational optimization methods
                    to
                    solve
                    problems in healthcare planning, delivery, and treatment. One major research area focuses on
                    computational
                    methods for improving and automating radiation therapy treatment design, using state-of-the-art
                    robust
                    and
                    inverse optimization models solved via decomposition techniques like column and constraint
                    generation. A
                    second area focuses on locating public access defibrillators by estimating cardiac arrest risk,
                    analyzing
                    suitability of potential defibrillator locations, and engineering a match between supply and demand
                    via
                    integer
                    optimization.
                </li>
                </p>
                <p>
                <li>
                    <b>Chandra Veer Singh, MSE</b> – His research is focused on integrated computational materials
                    engineering.
                    His
                    group develops multi-scale computational tools and models to design novel materials for aerospace,
                    automotive, minerals, and sustainable energy industries. Currently, he is collaborating with another
                    member of
                    the team, Prasanth Nair, on the uncertainty quantification in atomistic modeling. In this
                    collaboration,
                    they are
                    developing Bayesian methods for calibration of interatomic potentials using experimental/ab-initio
                    databases
                    and quantifying the influence of the uncertainty in resultant parameters on materials behavior
                    predicted
                    using
                    molecular dynamics.
                </li>
                </p>
                <p>
                <li>
                    <b>Piero Triverio, ECE</b> – He is the Canada Research Chair in modelling of electrical
                    interconnects. He
                    is an
                    expert
                    in model order reduction and in the simulation of complex electric/electromagnetic systems. His
                    algorithms are
                    used by leading CAD vendors (Idemworks, Ansys) and companies (IBM, SINTEF, Electricite de France,
                    Siemens, Vestas) for the design of high-speed electronic products, power grids, and antennas.
                </li>
                </p>
                <p>
                <li>
                    <b>David Steinman, MIE</b> – His research focuses on the use of medical imaging and CFD to
                    understand the
                    role
                    of
                    hemodynamic forces in the development and treatment of cardiovascular diseases. His most recent
                    research,
                    including several international CFD challenges, has demonstrated that the widespread use of
                    underpowered
                    CFD in clinical research had led to an under-appreciation of turbulent-like flow phenomena in
                    vessels of
                    the
                    brain and heart, emphasizing the need for careful attention to the numerics and the importance of
                    highperformance
                    computing strategies.
                </li>
                </p>
                <p>
                <li>
                    <b>Aimy Bazylak, MIE</b> – Her research is focused on the advancement of clean energy technologies,
                    such as
                    fuel
                    cells and electrolyzers, by tailoring novel porous materials for enhanced flow, heat and mass
                    transport
                    at the
                    microscale and nanoscale. The design of novel materials for improved fuel cell and electrolyzer
                    performance is
                    contingent upon efficient and predictive computational models, and these models must be informed by
                    a
                    detailed understanding of the multiphase transport phenomena in the complex porous materials
                    inherent in
                    state-of-the-art electrochemical conversion devices.
                </li>
                </p>
                <p>
                <li>
                    <b>Costas Sarris, ECE</b> – His group performs research on computational electromagnetics, with
                    emphasis on
                    highorder,
                    multi-scale/multi-physics numerical methods, as well as uncertainty quantification techniques and
                    convex optimization for electromagnetics. This basic research is targeted at applications ranging
                    from
                    radiowave propagation modeling in large scale environments (such as railway networks and urban
                    areas),
                    the
                    physics of artificial media, microwave and optical meta-materials and antennas, the design of novel
                    radiofrequency
                    ablation probes, hyperthermia applicators and wireless power transfer systems.
                </li>
                </p>
                <p>
                <li>
                    <b>Markus Bussmann, MIE</b> – His research interests focus on the development and application of
                    algorithms
                    for
                    simulation of interfacial/multiphase flows that may include heat transfer and phase change.
                    Algorithm
                    development has largely focused on volume of fluid methods for the direct simulation of interfacial
                    flows.
                    Algorithms and models are being applied to a number of important materials processing applications,
                    such
                    as
                    oil/water/particle separation and particle coating processes.
                </li>
                </p>
                <p>
                <li>
                    <b>Prasanth Nair, UTIAS</b> – His research interests lie in three main areas: (i) computational
                    modeling
                    of
                    deterministic and stochastic systems governed by partial differential equations, (ii) optimization
                    algorithms for
                    design, control and parameter estimation, and (iii) generalized function approximation problems.
                    Ongoing
                    research includes numerical methods for stochastic PDEs, real-time emulators of high-dimensional
                    engineering
                    systems with application to robust design optimization and uncertainty analysis, Bayesian methods
                    and
                    greedy
                    algorithms for modelling spatio-temporal datasets and operator problems.
                </li>
                </p>
                <p>
                <li>
                    <b>Clinton Groth, UTIAS</b> – His current research focuses primarily on the development of reliable
                    and
                    robust,
                    parallel, high-order, adaptive mesh refinement, finite-volume methods for the solution of
                    multi-scale,
                    physically-complex flows and the application of these techniques to numerical combustion modelling,
                    including research on large-eddy simulation (LES) techniques for turbulent premixed, non-premixed,
                    and
                    partially premixed combusting flows, as well as fundamental studies of laminar flames for bio-based
                    fuels
                    under high-pressure gas-turbine-like conditions.
                </li>
                </p>
            </ul>
            <h2>Student Organizing Committee</h2>
            <p>
                The student organizing committee is responsible for most of the day-to-day operations of CCSE. This
                includes organizing events such as seminars and workshops, managing expenses and maintaing the website.
                The committee wil rotate on an annual basis in order to afford as much opportunity as possible to other
                students who may wish to get involved. The organizing committee consists of graduate students of the
                aforementioned faculty team. More information regarding the organizing committee can be found
                <a href="{% url 'pages:people' %}">here</a>.
            </p>
        </div>
    </div>
{% endblock %}