{% extends '__base.html' %}
{% load staticfiles %}

{% block title %}
    People | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Student Organizing Committee</h1>
        </div>
    </div>
    <div class="row">
        {% for student in students %}
            {% if forloop.counter0|divisibleby:3 and not forloop.counter0 == 0 %}
                </div>
                <div class="row">
            {% endif %}

            <div class="col-md-4">
                {% if student.photo %}
                    <img src="{{ student.photo.url }}" class="student-organizer"/>
                {% else %}
                    <img src="{% static 'CCSE/img/stock_person_photo.png' %}" class="student-organizer">
                {% endif %}
                <h4>{{ student.name }}</h4>
                <div class="h4">Email: <a
                        href="mailto:{{ student.email }}?Subject=CCSE%20Inquiry">{{ student.email }}</a></div>
                <p>{{ student.bio }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}