{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
            Centre for Computational Science and Engineering | University of Toronto
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icons & favicons -->
    <link rel="apple-touch-icon" href="{% static "pages/img/apple-icon-touch.png" %}">
    <link rel="icon" href="{% static "pages/img/favicon.ico" %}">

    {% block css %}
        <link rel="stylesheet" href="{% static 'pages/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'pages/css/main.css' %}">
        <script src="{% static 'pages/js/vendor/modernizr-2.8.3.min.js' %}"></script>

        <!-- Latest compiled and minified CSS Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'pages/css/custom.css' %}">
    {% endblock %}
</head>
<body>

{% include '_header.html' %}
{% include '_navbar.html' %}

<div id="page">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div style="margin-left: 15px;">
            {% block footer %}
                <hr style="border-style: solid;">{% endblock %}
            <div class="row">
                <div class="col-lg-6">
                    <a href="mailto:dwz@oddjob.utias.utoronto.ca?Subject=Centre%20for%20Computational%20Science%20and%20Engineering">Contact
                        Us</a>
                </div>
                <div class="col-lg-6" align="right" id="copyright">
                    &copy UTIAS Centre for Computational Science and Engineering <span id="year"></span>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block javascript %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'pages/js/vendor/jquery-1.12.0.min.js' %}"><\/script>')</script>
    <script src="{% static 'pages/js/plugins.js' %}"></script>
    <script src="{% static 'pages/js/main.js' %}"></script>
    <!-- Latest compiled and minified JavaScript Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-103289948-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}

<script>
    $('#year').text(new Date().getFullYear());
</script>

</body>
</html>
