{% load staticfiles %}

<header class="site-header" role="banner">
    <div class="container">
        <a class="site-logo-link" href="http://www.utias.utoronto.ca/">
            <img class="site-logo" src="{% static 'pages/img/utias_logo_blue_cropped.png' %}">
        </a>
        <div class="site-name">
            <a href="{% url 'pages:home' %}" title="Computational Science and Engineering Discussion Group" rel="home">
                Centre for Computational Science and Engineering
            </a>
        </div>
    </div>
</header>